In [1]:
# Import Dependences 
import numpy as np 
import pandas as pd
import matplotlib as plt
import seaborn as sns
import random

In [2]:
# Import Pokemon CSV data
pokemon = pd.read_csv("pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:
# Import Pokemon Combats CSV data
combats = pd.read_csv("combats.csv")
combats.head(5)

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [4]:
# Rename column with symbol 
pokemon = pokemon.rename(index=str, columns={"#": "Pokemon Number"})
pokemon.columns

Index(['Pokemon Number', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
pokemon = pokemon.set_index("Pokemon Number")
pokemon

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Pokemon Number,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
# Display Combats Table with Names
combats.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [7]:
# What are the Dimenstions of the Pokemon and Combat Data Series
print("Dimenstions of Pokemon: " + str(pokemon.shape))
print("Dimenstions of Combat: " + str(combats.shape))

Dimenstions of Pokemon: (800, 11)
Dimenstions of Combat: (50000, 3)

In [8]:
# Identify Any Null fields for Pokemon Data
pokemon.isnull().sum()

Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [9]:
# Identify Any Null fields for Combat Data
combats.isnull().sum()

First_pokemon     0
Second_pokemon    0
Winner            0
dtype: int64

In [10]:
# What is the missing Pokemon's line? 
print(pokemon[pokemon["Name"].isnull ()])

               Name    Type 1 Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Pokemon Number
63              NaN  Fighting    NaN  65     105       60       60       70

                Speed  Generation  Legendary
Pokemon Number
63                 95           1      False

In [11]:
#Check the name of the pokemon number before and after
print(pokemon['Name'][62])
print('------------------')
print(pokemon['Name'][64])

Mankey
------------------
Growlithe

In [12]:
#Update the name of the missing Pokemon
pokemon['Name'][63] = "Primeape"

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
# Confirm count of null fields in the pokemon data set
pokemon.isnull().sum()

Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [14]:
# What is the name of the missing Pokemon
print(" The missing pokemon was "+ pokemon["Name"][63])

 The missing pokemon was Primeape

In [15]:
# calculate the win % of each pokemon 
# add the calculation to the pokemon dataset 
total_Wins = combats.Winner.value_counts()
# get the number of wins for each pokemon
numberOfWins = combats.groupby('Winner').count()

#both methods produce the same results
countByFirst = combats.groupby('Second_pokemon').count()
countBySecond = combats.groupby('First_pokemon').count()

In [16]:
find_losing_pokemon= np.setdiff1d(countByFirst.index.values, numberOfWins.index.values)-1
losing_pokemon = pokemon.iloc[find_losing_pokemon[0],]
print(losing_pokemon)

Name          Shuckle
Type 1            Bug
Type 2           Rock
HP                 20
Attack             10
Defense           230
Sp. Atk            10
Sp. Def           230
Speed               5
Generation          2
Legendary       False
Name: 231, dtype: object

In [17]:
numberOfWins = numberOfWins.sort_index()
numberOfWins['Total Fights'] = countByFirst.Winner + countBySecond.Winner
numberOfWins['Win Percentage']= numberOfWins.First_pokemon/numberOfWins['Total Fights']

# merge the winning dataset and the original pokemon dataset
results2 = pd.merge(pokemon, numberOfWins, right_index = True, left_on="Pokemon Number")
results3 = pd.merge(pokemon, numberOfWins, left_on="Pokemon Number", right_index = True, how='left')

# We can look at the difference between the two datasets to see which pokemon never recorded a fight
#missing_Pokemon = np.setdiff1d(pokemon.index.values, results3.index.values)
#subset the dataframe where pokemon win percent is NaN
results3[results3['Win Percentage'].isnull()]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,First_pokemon,Second_pokemon,Total Fights,Win Percentage
Pokemon Number,,,,,,,,,,,,,,,
12,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,NaN,NaN,NaN,NaN
33,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False,NaN,NaN,NaN,NaN
46,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False,NaN,NaN,NaN,NaN
66,Poliwag,Water,NaN,40,50,40,40,40,90,1,False,NaN,NaN,NaN,NaN
78,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,NaN,NaN,NaN,NaN
90,Magneton,Electric,Steel,50,60,95,120,70,70,1,False,NaN,NaN,NaN,NaN
144,Ditto,Normal,NaN,48,48,48,48,48,48,1,False,NaN,NaN,NaN,NaN
183,Ariados,Bug,Poison,70,90,70,60,60,40,2,False,NaN,NaN,NaN,NaN
231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False,NaN,NaN,NaN,NaN
236,Ursaring,Normal,NaN,90,130,75,75,75,55,2,False,NaN,NaN,NaN,NaN
322,Hariyama,Fighting,NaN,144,120,60,40,60,50,3,False,NaN,NaN,NaN,NaN
419,Mega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,NaN,NaN,NaN,NaN
479,Honchkrow,Dark,Flying,100,125,52,105,52,71,4,False,NaN,NaN,NaN,NaN
556,Servine,Grass,NaN,60,60,75,60,75,83,5,False,NaN,NaN,NaN,NaN
618,Maractus,Grass,NaN,75,86,67,106,67,60,5,False,NaN,NaN,NaN,NaN
655,Jellicent,Water,Ghost,100,60,70,85,105,60,5,False,NaN,NaN,NaN,NaN
782,Pumpkaboo Small Size,Ghost,Grass,44,66,70,44,55,56,6,False,NaN,NaN,NaN,NaN

In [18]:
pokemon.isnull().sum()

Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [19]:
combats.isnull().sum()

First_pokemon     0
Second_pokemon    0
Winner            0
dtype: int64