In [4]:
# Import Dependences 
import numpy as np 
import pandas as pd
import matplotlib as plt
import seaborn as sns
import random

In [5]:
# Import Pokemon CSV data
pokemon = pd.read_csv("pokemon.csv")
pokemon.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
# Rename column with symbol 
pokemon = pokemon.rename(index=int, columns={"#": "Pokemon Number"})
pokemon.head()

,Pokemon Number,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
pokemon.set_index("Pokemon Number")
pokemon.head()

KeyError: "None of ['Pokemon Number'] are in the columns"

In [ ]:
# Import Pokemon Combats CSV data
combat = pd.read_csv("combats.csv")
combat.head()

In [ ]:
# What are the Dimenstions of the Pokemon and Combat Data Series
print("Dimenstions of Pokemon: " + str(pokemon.shape))
print("Dimenstions of Combat: " + str(combat.shape))

In [ ]:
# Identify Any Null fields for Pokemon Data
pokemon.isnull().sum()

In [ ]:
# Identify Any Null fields for Combat Data
combat.isnull().sum()

In [ ]:
# What is the missing Pokemon's line? 
print(pokemon[pokemon["Name"].isnull ()])

In [ ]:
#Update the name of the missing Pokemon
pokemon['Name'][62] = "Primeape"

In [ ]:
# Confirm count of null fields in the pokemon data set
pokemon.isnull().sum()

In [ ]:
# What is the name of the missing Pokemon
print(" The missing pokemon was "+ pokemon["Name"][62])

In [ ]:
# calculate the win % of each pokemon 
# add the calculation to the pokemon dataset 
total_Wins = combat.Winner.value_counts()
# get the number of wins for each pokemon
numberOfWins = combat.groupby('Winner').count()

#both methods produce the same results
countByFirst = combat.groupby('Second_pokemon').count()
countBySecond = combat.groupby('First_pokemon').count()

In [ ]:
find_losing_pokemon= np.setdiff1d(countByFirst.index.values, numberOfWins.index.values)-1
losing_pokemon = pokemon.iloc[find_losing_pokemon[0],]
print(losing_pokemon)

In [ ]:
numberOfWins = numberOfWins.sort_index()
numberOfWins['Total Fights'] = countByFirst.Winner + countBySecond.Winner
numberOfWins['Win Percentage']= numberOfWins.First_pokemon/numberOfWins['Total Fights']

# merge the winning dataset and the original pokemon dataset
results2 = pd.merge(pokemon, numberOfWins, right_index = True, left_on="Pokemon Number")
results3 = pd.merge(pokemon, numberOfWins, left_on="Pokemon Number", right_index = True, how='left')

# We can look at the difference between the two datasets to see which pokemon never recorded a fight
#missing_Pokemon = np.setdiff1d(pokemon.index.values, results3.index.values)
#subset the dataframe where pokemon win percent is NaN
results3[results3['Win Percentage'].isnull()]